body {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  background-color: #B9AFA3;
}
/* Sección superior */
header{
  height: 200px;
    background-color: #393d42;
}
/* Parte izquierda de la sección inferior */
#col1{
  height: 1300px;
  background-color: rgb(251,195,152);
  width: 300px;
  float: left;
}
/* Parte derecha de la sección inferior */
#col2{
  height: 1300px;
  background-color: white;
  width: 660px;
  float: right;
}
/* Parte izquierda de la sección superior */
#col3{
  height: 200px;
  background-color: black;
  width: 300px;
  float: left;
}
/* Parte derecha de la sección superior*/
#col4{
  height: 200px;
  background-color: #393d42;
  width: 660px;
  float: right;
}
/* Para el nombre en el encabezado */
h1 {
  color: white;
  margin: 0;
  padding: 50px;
  text-align: right;
  font-family: cursive;
  font-size: 250%;
}
/* Para títulos en la parte izq (Perfil, contacto...) */
h2 {
  margin: 0;
  padding: 30px;
  text-align: center;
  color: black;
}
/* Para títulos de formación y experiencia */
h3 {
  width: 250px;
  margin-top: 50px ;
  padding: 10px;
  text-align: left;
  background-color: rgb(251,195,152);
  color: black;
}
/* Para estudios y empleos */
h5 {
  margin-left: 80px;
  padding: 0px;
  text-align: left;
  font-size: 110%;
  color: black;
}
/* Para los párrafos */
p  {
  color: black;
  font-family: courier;
  margin-left: 100px;
  padding: 0;
  font-size: 100%;
}
/* Modificación de párrafo para la parte del perfil */
p.perfil {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}
/* Modificación de párrafo para la parte de contacto */
p.contacto {
  margin-left: 0;
  padding: 5px;
  text-align: center;
  font-size: 500%
  color: black;
}
/* Para las listas */
ul {
  color: black;
  font-family: courier;
  margin-left: 120px;
  padding: 0;
  font-size: 100%;
}
/* Espacio entre líneas de la lista */
li {
  padding: 5px;
}
