body {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  background-color: #B9AFA3;
}
header{
  height: 200px;
  background-color: #393d42;
}
#col1{
  height: 730px;
  background-color: rgb(251,195,152);
  width: 300px;
  float: left;
}
#col2{
  height: 730px;
  background-color: white;
  width: 660px;
  float: right;
}
#col3{
  height: 200px;
  background-color: black;
  width: 300px;
  float: left;
}
#col4{
  height: 200px;
  background-color: #393d42;
  width: 660px;
  float: right;
}
h1 {
  color: white;
  margin: 0;
  padding: 50px;
  text-align: right;
  font-family: cursive;
  font-size: 250%;
}
h2 {
  margin: 0;
  padding: 30px;
  text-align: center;
  color: black;
}
h3 {
  margin: 0;
  padding: 35px;
  text-align: left;
  color: black;
}
h4 {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: black;
}
p  {
  color: black;
  font-family: courier;
  margin:0;
  padding: 10px;
  font-size: 100%;
}
